body{
  padding: 0;
  margin: 0
}

div.note{
  border-radius: 25px;
  border: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

div.note > h3{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
}

div.note.blue_note{
  background-color: #e7f2fa;
}

div.note.blue_note> h3{
  background-color: #6ab0de;
}

div.note.yellow_note{
  background-color: #ffedcc;
}

div.note.yellow_note > h3{
  background-color: #f0b37e;
}

div.note.green_note{
  background-color:#dbfaf4;
}

div.note.green_note > h3{
  background-color: #1abc9c;
}
