body{
  padding: 0;
  margin: 0
}

div.note{
  border: none;
  padding-bottom: 10px;
  background-clip:content-box;
}

div.note > p:nth-child(1){
  color: white;
}

div.note > p:nth-child(2){
  padding: 5px;
  color: black
}

div.note.blue_note{
  background-color: #e7f2fa;
}

div.note.blue_note > p:nth-child(1){
  background-color: #6ab0de;
}

div.note.yellow_note{
  background-color: #ffedcc;
}

div.note.yellow_note > p:nth-child(1){
  background-color: #f0b37e;
}

div.note.green_note{
  background-color:#dbfaf4;
}

div.note.green_note > p:nth-child(1){
  background-color: #1abc9c;
}

.dUeKSG.draft{
  background: repeating-linear-gradient( -45deg, #eda51b, #eda51b 5px, #000 5px, #000 10px );
}

code.pretty{
  color: crimson;
  font-family: Courier, monospace;
  padding: 0px 5px;
  font-size: 13px;
  font-weight: 400;
  word-break: break-word;
}
