.wy-side-nav-search {
    background-color: #004286;
}

.wy-nav-side {
    background-color: #434553;
}

.wy-nav-top {
    background-color: #004286;
}

.wy-menu a {
    color: #ffffff;
}

.wy-menu-vertical a:hover {
	background:#004286;
}

.subnav {
    margin-left: 1em;
}

.caption-text {
    font-weight: bolder;
}